html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.profile {
    width: 183px;
    height: 183px;
    background-image: url(https://webstockreview.net/images/profile-icon-png-9.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.notify {
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}